<h1>Alumnos</h1>
<h2>{{ titulo }}</h2>

<div class="panel-contenido form-wrapper">
  <form [formGroup]="form" (ngSubmit)="guardar()">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-checkbox formControlName="activo">Activo</mat-checkbox>

    <div class="form-actions">
      <button mat-flat-button color="primary" type="submit">Guardar</button>
      <button mat-stroked-button color="accent" type="button" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
