:host {
  display: block;
  margin-top: 1.35rem;
}

.table-container {
  max-height: 58vh;
}

.acciones {
  display: flex;
  gap: 0.35rem;
}

.material-icons {
  font-size: 18px;
}

.acciones-header,
.acciones-cell {
  text-align: right;
  justify-content: flex-end;
}

.acciones-cell {
  display: flex;
  gap: 4px;
}

.btn.primary {
  background: #005ccb;
  color: #fff;
}
