<div class="layout">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="brand">
      <h1>Gestión de<br />Cursos</h1>
    </div>

    <nav class="menu">
      <a
        routerLink="/alumnos"
        routerLinkActive="activo"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Alumnos
      </a>
      <a routerLink="/cursos" routerLinkActive="activo">Cursos</a>
      <a routerLink="/inscripciones" routerLinkActive="activo">Inscripciones</a>
    </nav>
  </aside>

  <!-- Contenido principal -->
  <div class="contenido">
    <header class="topbar">
      <div class="titulo-app">Coderhouse – Entrega 2</div>
      <div class="espacio"></div>
      <div class="usr-pill">NEWDESA</div>
    </header>

    <main class="main">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
