<div class="page-title">
  <h1>{{ esEdicion ? 'Editar curso' : 'Nuevo curso' }}</h1>
</div>

<div class="form-card" [formGroup]="form">
  <form (ngSubmit)="guardar()">
    <mat-form-field appearance="outline" class="full">
      <mat-label>Nombre*</mat-label>
      <input matInput formControlName="nombre" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Descripción</mat-label>
      <textarea matInput rows="4" formControlName="descripcion"></textarea>
    </mat-form-field>

    <mat-checkbox formControlName="activo">Activo</mat-checkbox>

    <div class="botones">
      <button mat-raised-button color="primary" type="submit">
        Guardar
      </button>
      <button mat-stroked-button type="button" (click)="cancelar()">
        Cancelar
      </button>
    </div>
  </form>
</div>
