<div class="feature-header">
  <h1>Inscripciones</h1>
  <p>{{ titulo }}</p>
</div>

<div class="form-card" [formGroup]="form">
  <form (ngSubmit)="guardar()">
    <mat-form-field appearance="outline" class="full">
      <mat-label>ID alumno</mat-label>
      <input matInput formControlName="alumnoId" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>ID curso</mat-label>
      <input matInput formControlName="cursoId" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Fecha</mat-label>
      <input matInput formControlName="fecha" placeholder="2025-10-30" />
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button color="primary" type="submit">
        Guardar
      </button>
      <button mat-button type="button" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
