<div class="page-header">
  <h1>Cursos</h1>
  <p>Administrá los cursos disponibles.</p>
</div>

<div class="card">
  <div class="card-toolbar">
    <input
      #filtro
      type="text"
      placeholder="Buscar curso..."
      class="search-input"
      (keyup)="aplicarFiltro(filtro.value)"
    />

    <div class="actions">
      <button class="btn primary" (click)="nuevo()">Agregar curso</button>
      <button class="btn ghost" (click)="restaurar()">Restaurar datos</button>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 tabla">
    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let c">{{ c.id }}</td>
    </ng-container>

    <!-- NOMBRE -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let c">{{ c.nombre }}</td>
    </ng-container>

    <!-- DESCRIPCION -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let c">{{ c.descripcion }}</td>
    </ng-container>

    <!-- ACTIVO -->
    <ng-container matColumnDef="activo">
      <th mat-header-cell *matHeaderCellDef>Activo</th>
      <td mat-cell *matCellDef="let c">
        <span
          class="estado-chip"
          [ngClass]="c.activo ? 'estado-ok' : 'estado-bad'"
        >
          {{ c.activo ? 'Sí' : 'No' }}
        </span>
      </td>
    </ng-container>

    <!-- ACCIONES -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="acciones-header">
        Acciones
      </th>
      <td mat-cell *matCellDef="let c" class="acciones-cell">
        <button class="icon-btn" (click)="editar(c)">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="icon-btn danger" (click)="eliminar(c.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let fila; columns: columnas"></tr>
  </table>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"> </mat-paginator>
</div>
