<div class="feature-header">
  <h1>Inscripciones</h1>
  <p>Listado de inscripciones.</p>
</div>

<div class="feature-card">
  <div class="feature-toolbar">
    <span class="flex-spacer"></span>
    <button mat-raised-button color="primary" (click)="nuevo()">
      Agregar inscripción
    </button>
    <button mat-stroked-button color="primary" (click)="restaurar()">
      Restaurar datos
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 tabla">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let i">{{ i.id }}</td>
    </ng-container>

    <ng-container matColumnDef="alumnoId">
      <th mat-header-cell *matHeaderCellDef>Alumno</th>
      <td mat-cell *matCellDef="let i">{{ i.alumnoId }}</td>
    </ng-container>

    <ng-container matColumnDef="cursoId">
      <th mat-header-cell *matHeaderCellDef>Curso</th>
      <td mat-cell *matCellDef="let i">{{ i.cursoId }}</td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let i">{{ i.fecha }}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="acciones-header">
        Acciones
      </th>
      <td mat-cell *matCellDef="let i" class="acciones-cell">
        <button mat-icon-button color="primary" (click)="editar(i)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="eliminar(i.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let fila; columns: columnas"></tr>
  </table>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
